{% extends 'main.html' %}

{% block content%}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          <p>@{{user.username}}</p>
          <div class="follow_container">
            <div class="row d-flex justify-content-center">
              <div class="my-follower-section">
                <h3>Followers: {{followers.count}}</h3>
                <h3>Following: {{following.count}} </h3>
              </div>
              {% if user.is_authenticated%}
              {% if isFollowing is not None %}
              {% if isFollowing %}
              <form action="{% url 'unfollow' %}" method="POST">
                {% csrf_token%}
                <div class="follow_button_container">
                  <input type="hidden" name="userfollow" value="{{user.username}}">
                  <input type="submit" value="Unfollow" class="follow-button">
                </div>
              </form>
              {% else%}
              <form action="{% url 'follow'%}" method="POST">
                {% csrf_token%}
                <div class="follow_button_container">
                  <input type="hidden" name="userfollow" value="{{user.username}}">
                  <input type="submit" value="Follow" class="follow-button">
                </div>
              </form>
              {% endif %}
              {% endif %}
              {% endif %}
            </div>
          </div>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Hosted by {{ user.username }}: {{ rooms.count }} Rooms</h2>
        </div>
      </div>
      {% include 'base/profile_feed_component.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}